In [68]:
# Import myfunc at cix folder
%matplotlib inline
import matplotlib.pyplot as plt
import sys
sys.path.insert(0, '../cix')
import myfuncs as mf
import pandas as pd
from rdkit import rdBase
rdBase.DisableLog('rdApp.*') # To make rdkit silent
from rdkit.Chem import PandasTools as pt
from rdkit.Chem import Descriptors
import numpy as np

This is an script to analyze the output of experiment 1. In this experiment the CMD was trained with increasing subsets of the original set of 300K molecules used in the CMD paper. The idea is to figure out how the size of the training set influences the correctness, diversity and novelty of the output generated with the CMD. 
The correctness of the training and output files is assessed by the percentage of correct SMILES.
The diversity of the training and output files are assessed by counting the number of clusters, frames and generic frames in both sets. 
The novelty of the training set is assessed by the percentage of molecules with a Tanimoto similarity < 0.7 to any molecule in the training set, and the percentage of frames or generic frames not present in the training set.

In [70]:
##########################################################
## Analysis of the unconditioned output
##########################################################

it = range(50000, 300001, 50000)

df_un, cls_un = wholean(it = it, name_train = "train", name_pref = "unc")

Clustering time: 00:03:23
Diversity analysis time: 00:07:50
Clustering time: 00:00:17
Diversity analysis time: 00:00:44
Arenas creation time: 00:03:30
Novelty analysis time: 00:08:58
Clustering time: 00:07:05
Diversity analysis time: 00:15:42
Clustering time: 00:00:16
Diversity analysis time: 00:00:43
Arenas creation time: 00:06:53
Novelty analysis time: 00:16:56
Clustering time: 00:10:06
Diversity analysis time: 00:22:51
Clustering time: 00:00:18
Diversity analysis time: 00:00:44
Arenas creation time: 00:09:52
Novelty analysis time: 00:25:23
Clustering time: 00:14:30
Diversity analysis time: 00:32:20
Clustering time: 00:00:20
Diversity analysis time: 00:00:47
Arenas creation time: 00:13:07
Novelty analysis time: 00:32:59
Clustering time: 00:18:14
Diversity analysis time: 00:41:06
Clustering time: 00:00:18
Diversity analysis time: 00:00:40
Arenas creation time: 00:16:06
Novelty analysis time: 00:42:09
Clustering time: 00:22:13
Diversity analysis time: 00:48:35
Clustering time: 00:00:18
Diversity analysis time: 00:00:44
Arenas creation time: 00:19:12
Novelty analysis time: 00:49:06

In [71]:
# Show the results in the output dataframe

df_un

    # train  %corr inp  # clus inp  # fram inp  # gen fram inp   # out  %corr out  # clus out  # fram out  # gen fram out  % new str  % new fram  % new gen fram
1   50000.0      100.0     41799.0     35450.0         48902.0  5000.0      97.48      3132.0      2776.0          4000.0      32.70       62.14           88.28
2  100000.0      100.0     77318.0     64749.0         95904.0  5000.0      98.06      2969.0      2536.0          4020.0      26.14       59.94           84.83
3  150000.0      100.0    109302.0     91220.0        141614.0  5000.0      95.34      3600.0      3121.0          4225.0      27.90       53.22           78.86
4  200000.0      100.0    139146.0    115765.0        186034.0  5000.0      97.92      2934.0      2533.0          3946.0      18.88       51.05           77.65
5  250000.0      100.0    167503.0    139207.0        229387.0  5000.0      95.56      3492.0      3051.0          4174.0      21.78       50.48           73.72
6  300000.0      100.0    194526.0    161518.0        271997.0  5000.0      94.68      3354.0      2973.0          4078.0      20.50       49.31           72.46

In [72]:
# Save the results

df_un.to_csv("analysis1-un.csv")

In [190]:
# Plot the clusters distributions and cluster size distribution

mf.plotmulticlus(cls_un, 10, 15)

AttributeError: 'module' object has no attribute 'plotmulticlus'

In [73]:
##########################################################
## Analysis of the conditioned output
##########################################################

df_co, cls_co = wholean(it = it, name_train = "train", name_pref = "con")

Clustering time: 00:01:16
Diversity analysis time: 00:02:55
Clustering time: 00:00:04
Diversity analysis time: 00:00:11
Arenas creation time: 00:01:17
Novelty analysis time: 00:03:02
Clustering time: 00:02:32
Diversity analysis time: 00:05:51
Clustering time: 00:00:04
Diversity analysis time: 00:00:11
Arenas creation time: 00:02:28
Novelty analysis time: 00:05:59
Clustering time: 00:04:00
Diversity analysis time: 00:08:47
Clustering time: 00:00:04
Diversity analysis time: 00:00:11
Arenas creation time: 00:03:40
Novelty analysis time: 00:08:50
Clustering time: 00:05:19
Diversity analysis time: 00:11:40
Clustering time: 00:00:04
Diversity analysis time: 00:00:11
Arenas creation time: 00:04:47
Novelty analysis time: 00:11:31
Clustering time: 00:06:13
Diversity analysis time: 00:14:30
Clustering time: 00:00:04
Diversity analysis time: 00:00:11
Arenas creation time: 00:05:25
Novelty analysis time: 00:13:25
Clustering time: 00:08:17
Diversity analysis time: 00:16:42
Clustering time: 00:00:03
Diversity analysis time: 00:00:10
Arenas creation time: 00:06:39
Novelty analysis time: 00:16:59

In [132]:
# Show the results dataframe

df_co

    # train  %corr inp  # clus inp  # fram inp  # gen fram inp   # out  %corr out  # clus out  # fram out  # gen fram out  % new str  % new fram  % new gen fram
1   50000.0      100.0     41799.0     35450.0         48902.0  5000.0      97.76      1790.0      1156.0          1734.0      49.66       57.96           80.97
2  100000.0      100.0     77318.0     64749.0         95904.0  5000.0      98.08      2063.0      1225.0          1920.0      40.08       50.94           69.84
3  150000.0      100.0    109302.0     91220.0        141614.0  5000.0      97.14      2339.0      1472.0          2181.0      37.46       45.31           65.52
4  200000.0      100.0    139146.0    115765.0        186034.0  5000.0      98.98      1892.0      1142.0          1850.0      28.00       43.35           59.35
5  250000.0      100.0    167503.0    139207.0        229387.0  5000.0      97.18      2383.0      1568.0          2275.0      32.18       46.36           55.38
6  300000.0      100.0    194526.0    161518.0        271997.0  5000.0      96.40      2277.0      1525.0          2202.0      30.78       43.21           54.54

In [133]:
# Save the results dataframe

df_co.to_csv("analysis1-co.csv")

In [93]:
# Plot the clusters distributions and cluster size distribution

mf.plotmulticlus(cls_co, 10, 15)

Clustering time: 00:01:15
Diversity analysis time: 00:02:53
Clustering time: 00:00:04
Diversity analysis time: 00:00:10
Arenas creation time: 00:01:07
Novelty analysis time: 00:02:48
Clustering time: 00:02:35
Diversity analysis time: 00:05:48
Clustering time: 00:00:04
Diversity analysis time: 00:00:10
Arenas creation time: 00:02:25
Novelty analysis time: 00:05:19