In [8]:
# Import myfunc at cix folder
%matplotlib inline
import matplotlib.pyplot as plt
import sys
sys.path.insert(0, '../cix')
import myfuncs as mf
import pandas as pd
from rdkit import rdBase
rdBase.DisableLog('rdApp.*') # To make rdkit silent
from rdkit.Chem import PandasTools as pt
from rdkit.Chem import Descriptors
import numpy as np

In [23]:
it = range(50000, 300001, 50000)

df = pd.DataFrame(np.nan, index = [1,2,3,4,5,6],\
                  columns =\
                 ["# train","%corr inp","# clus inp","# fram inp","# gen fram inp",\
                 "# out","%corr out","# clus out","# fram out","# gen fram out",\
                 "% new str","% new fram","% new gen fram"])
df

   # train  %corr inp  # clus inp  # fram inp  # gen fram inp  # out  %corr out  # clus out  # fram out  # gen fram out  % new str  % new fram  % new gen fram
1      NaN        NaN         NaN         NaN             NaN    NaN        NaN         NaN         NaN             NaN        NaN         NaN             NaN
2      NaN        NaN         NaN         NaN             NaN    NaN        NaN         NaN         NaN             NaN        NaN         NaN             NaN
3      NaN        NaN         NaN         NaN             NaN    NaN        NaN         NaN         NaN             NaN        NaN         NaN             NaN
4      NaN        NaN         NaN         NaN             NaN    NaN        NaN         NaN         NaN             NaN        NaN         NaN             NaN
5      NaN        NaN         NaN         NaN             NaN    NaN        NaN         NaN         NaN             NaN        NaN         NaN             NaN
6      NaN        NaN         NaN         NaN             NaN    NaN        NaN         NaN         NaN             NaN        NaN         NaN             NaN

In [ ]:
for i in range(len(it)):
    
    # Set ntrain and nout of the iteration
    df["# train"].iloc[i] = it[i]
    df["# out"].iloc[i] = 5000
    
    # Find corrects in input and fill pcorr inp
    smis = mf.smif2smis('./train'+str(it[0])+'.smi')
    ncorr, n, smis, wrongsmis = mf.corrsmis(smis)
    smidft = mf.smis2smidf(smis)
    del smis
    df["%corr inp"].iloc[i] = round(ncorr/float(n)*100,2)
    
    # Find corrects in output 
    smis = mf.smif2smis('./unc'+str(it[0])+'.smi')
    ncorr, n, smis, wrongsmis = mf.corrsmis(smis)
    smidfu = mf.smis2smidf(smis)
    del smis
    df["%corr out"].iloc[i] = round(ncorr/float(n)*100,2)
    
    # Diversity analysis of input and fill nclus inp, nfram inp, ngenfram inp
    clb, fs, fg = mf.divan(smidft, OnlyBu = True)
    df["# clus inp"].iloc[i] = len(clb)
    df["# fram inp"].iloc[i] = len(fs)
    df["# gen fram inp"].iloc[i] = len(fg)
    
    # Diversity analysis of output and fill nclus out, nfram out, ngenfram out
    clb, fs, fg = mf.divan(smidfu, OnlyBu = True)
    df["# clus out"].iloc[i] = len(clb)
    df["# fram out"].iloc[i] = len(fs)
    df["# gen fram out"].iloc[i] = len(fg)
    
    # Novelty analysis
    news, fraq, newfraqs, gfraq, newgfraqs = mf.novan(smidfu, smidft, th = 0.7)
    df["% new str"].iloc[i] = round(100*len(news)/5000.,2)
    df["% new fram"].iloc[i] = round(100*len(newfraqs)/float(len(fraq)),2)
    df["% new gen fram"].iloc[i] = round(100*len(newgfraqs)/float(len(gfraq)),2)

In [22]:
df

   # train  %corr inp  # clus inp  # fram inp  # gen fram inp  # out  %corr out  # clus out  # fram out  # gen fram out  % new str  % new fram  % new gen fram
1  50000.0        NaN         NaN         NaN             NaN    NaN        NaN         NaN         NaN             NaN        NaN         NaN             NaN
2      NaN        NaN         NaN         NaN             NaN    NaN        NaN         NaN         NaN             NaN        NaN         NaN             NaN
3      NaN        NaN         NaN         NaN             NaN    NaN        NaN         NaN         NaN             NaN        NaN         NaN             NaN
4      NaN        NaN         NaN         NaN             NaN    NaN        NaN         NaN         NaN             NaN        NaN         NaN             NaN
5      NaN        NaN         NaN         NaN             NaN    NaN        NaN         NaN         NaN             NaN        NaN         NaN             NaN
6      NaN        NaN         NaN         NaN             NaN    NaN        NaN         NaN         NaN             NaN        NaN         NaN             NaN