This scripts aims at analyzing the output of the CMD tuned for natural products: correctness, diversity and novelty. Two iterations are used: first, 50K compounds are used as training set, and then the whole set of natural products of ZINC12.

In [4]:
# Import myfunc at cix folder
%matplotlib inline
import matplotlib.pyplot as plt
import sys
sys.path.insert(0, '../cix')
import myfuncs as mf
import pandas as pd
from rdkit import rdBase
rdBase.DisableLog('rdApp.*') # To make rdkit silent
from rdkit.Chem import PandasTools as pt
from rdkit.Chem import Descriptors
import numpy as np

In [5]:
it = [50000, 81661]
nit = len(it)

In [13]:
#######################################
### Unconditional CMD output molecules
#######################################

df_un, cls = mf.wholean(it = it, name_train = "train", name_pref = "unc")

Clustering time: 00:03:25
Diversity analysis time: 00:06:39
Clustering time: 00:00:19
Diversity analysis time: 00:00:37
Arenas creation time: 00:03:36
Novelty analysis time: 00:07:00
Clustering time: 00:05:52
Diversity analysis time: 00:11:19
Clustering time: 00:00:19
Diversity analysis time: 00:00:36
Arenas creation time: 00:05:52
Novelty analysis time: 00:11:40

In [15]:
df_un

   # train  %corr inp  # clus inp  # fram inp  # gen fram inp   # out  %corr out  # clus out  # fram out  # gen fram out  % new str  % new fram  % new gen fram
1  50000.0      100.0     10222.0     15128.0         32105.0  5000.0      95.04      1471.0      1672.0          2773.0       4.68       17.46           28.67
2  81661.0      100.0     13517.0     22207.0         52264.0  5000.0      93.40      1744.0      1974.0          3134.0       4.28       15.86           23.77

In [18]:
df_un.to_csv("npan-un.csv")

In [ ]:
# Plot the cluster distributions
mf.plotmulticlus(cls, 10, 15)

In [14]:
#######################################
### Conditional CMD output molecules
#######################################

df_co, clsco = mf.wholean(it = it, name_train = "train", name_pref = "con")

Clustering time: 00:03:24
Diversity analysis time: 00:06:43
Clustering time: 00:00:10
Diversity analysis time: 00:00:21
Arenas creation time: 00:03:21
Novelty analysis time: 00:06:56
Clustering time: 00:05:53
Diversity analysis time: 00:11:22
Clustering time: 00:00:09
Diversity analysis time: 00:00:20
Arenas creation time: 00:05:45
Novelty analysis time: 00:11:25

In [19]:
df_co

   # train  %corr inp  # clus inp  # fram inp  # gen fram inp   # out  %corr out  # clus out  # fram out  # gen fram out  % new str  % new fram  % new gen fram
1  50000.0      100.0     10222.0     15128.0         32105.0  5000.0      96.88       675.0       493.0           938.0       7.18       30.83           45.31
2  81661.0      100.0     13517.0     22207.0         52264.0  5000.0      93.04       900.0       623.0          1164.0       6.46       28.73           44.07

In [20]:
df_co.to_csv("npan-co.csv")

In [ ]:
# Plot the cluster distributions
mf.plotmulticlus(clsco, 10, 15)

In [ ]:
# Analysis of properties: MWt